@page
@model NightmareCoreWeb2.Pages.AccountModel
@{
}
<div class="container">
    @if (Model.UserAccount == null)
    {
        <div id="LoginForm">

            <div class="card">
                <div class="card-header">
                    <h6>Login</h6>
                </div>
                <div class="card-body">
                    <form action="?handler=Login" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="UserEmail">E-mail:</label>
                            <input asp-for="UserEmail" type="text" id="UserEmail" />
                        </div>
                        <div class="form-group">
                            <label for="UserPassword">Password:</label>
                            <input asp-for="UserPassword" type="password" id="UserPassword">
                        </div>
                        <input type="submit">
                        @Html.AntiForgeryToken()
                    </form>

                </div>
            </div>
        </div>
        <br />
    }
    else
    {
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h6>Account Info</h6>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Username: @Model.UserAccount.Username</p>
                            <p class="card-text">Email: @Model.UserAccount.Email</p>
                            <p class="card-text">Last IP: @Model.UserAccount.LastIP</p>
                            <p class="card-text">Last Login: @Model.UserAccount.LastLogin.ToLocalTime()</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h6>Change Password</h6>
                        </div>
                        <div class="card-body">
                            <form action="?handler=ChangePassword" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="NewPassword">New Password: </label>
                                    <input asp-for="NewPassword" type="password" name="NewPassword" id="NewPassword">
                                </div>
                                <div class="form-group">
                                    <label for="NewPassword2">New Password Again: </label>
                                    <input asp-for="NewPassword2" type="password" name="NewPassword2" id="NewPassword2">
                                </div>
                                @Html.AntiForgeryToken()
                                <input class="button" type="submit" value="Change Password" name="changepassword">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="container" style="display: flex; flex-wrap: wrap;">
                @if (Model.UserAccount.IsGM)
                {
                    @foreach (var ticket in Model.Tickets)
                    {
                        @if (ticket.ClosedBy == null)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        <a href="/?handler=Account&name=@ticket.OpenedBy.Username">@ticket.CharacterName</a>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">@ticket.Description</p>
                                        <br>

                                        <a class="btn active" href="/Account?handler=CharacterAction&guid=@ticket.Id&action=1">Rename
                                            Character</a>
                                        <a class="btn active"
                            href="/Account?handler=CharacterAction&guid=@ticket.Id&action=8">Recustomize Character</a>
                                        <a class="btn active" href="/Account?handler=CharacterAction&guid=@ticket.Id&action=64">Change
                                            Faction</a>
                                        <a class="btn active" href="/Account?handler=CharacterAction&guid=@ticket.Id&action=128">Change
                                            Race</a>
                                    </div>
                                    <div class="card-footer text-muted">
                                        <p>Opened @ticket.CreateTime.ToLocalTime()</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                }
                else
                {
                    @foreach (var character in Model.OnlineCharacters)
                    {
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h6>@character.Name</h6>
                                </div>
                                <div class="card-body">
                                    <a class="btn active"
                            href="/Account?handler=CharacterAction&guid=@character.guid&action=1">Rename Character</a>
                                    <a class="btn active"
                            href="/Account?handler=CharacterAction&guid=@character.guid&action=8">Recustomize
                                        Character</a>
                                    <a class="btn active"
                            href="/Account?handler=CharacterAction&guid=@character.guid&action=64">Change Faction</a>
                                    <a class="btn active"
                            href="/Account?handler=CharacterAction&guid=@character.guid&action=128">Change Race</a>
                                </div>
                                <div class="card-footer text-muted">
                                    <p>Level @character.Level @character.GetRace() @character.GetClass()</p>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
        <br />
        <!-- /#page-content-wrapper -->
    }

</div>